.button {
  cursor: pointer;
  outline: transparent;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}
.button:hover {
  filter: brightness(85%);
}
.button:disabled {
  background-color: var(--color-disabled); 
  cursor: not-allowed;
}

.small {
  padding: calc(var(--spacing) * 0.75) calc(var(--spacing) * 2);
}
.medium {
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 4);
}
.full-width {
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 4);
  width: 100%;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-contrast);
}
.secondary {
  background-color: var(--color-secondary);
  color: var(--color-text-on-contrast);
}
.error {
  background-color: var(--color-error);
  color: var(--color-text-on-contrast);
}
.info {
  background-color: var(--color-info);
  color: var(--color-text-on-contrast);
}
.warning {
  background-color: var(--color-warning);
  color: var(--color-text-on-contrast);
}
.success {
  background-color: var(--color-success);
  color: var(--color-text-on-contrast);
}
