.base {
  color: var(--color-text);
  font-family: var(--font-family);
}

.default {
  color: var(--color-text);
}
.primary {
  color: var(--color-primary);
}
.secondary {
  color: var(--color-secondary);
}

.detail {
  font-size: var(--font-detail);
}
.body {
  font-size: var(--font-body);
}
.h1 {
  font-size: var(--font-h1);
}
.h2 {
  font-size: var(--font-h2);
}
.h3 {
  font-size: var(--font-h3);
}
.h4 {
  font-size: var(--font-h4);
}
